# Pipeline
theme/assets/

# Important
autodeploy.js
config.json

# Node
node_modules/
npm-debug.log

# JetBrains
.idea
.vscode

# Mac
.DS_Store
.DS_Store?
._*

# Windows
[Dd]esktop.ini
Thumbs.db
scripts/tmp
